body {
  margin: 0;  
  font-family: 'Courier New', sans-serif;
  box-sizing: border-box;
  background-color: rgb(14,2,46);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  font-family: 'Courier New';
  letter-spacing: 0.5px;
  font-weight: 700;
  color: teal;
}
.selected {
  color: white;
  background-color: black;
}
